/*
font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/

$font-kaushan: 'Kaushan Script', cursive;
$font-merri: 'Merriweather', serif;
$font-mont: 'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif;

// ⚡⚡ CONSTANTES ⚡⚡
.contenedor{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    // background-color: #fed136;
    // color: white;
    display: inline-block;
    font-family: $font-mont;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem 4rem;
    border-radius: .5rem;
}

.btn-amarillo{
    background-color: #fed136;
    color: white;
    transition: all .3s;
    &:hover{
        background-color: #fbc204;
        transition: all .3s;
    }
}