.header{
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    &__nav{ // & -> .header
        &__contenedor{ // & -> .header__nav
            &--logo{ // & -> .header__nav__contenedor
                color: #fec503;
                font-size: 2.8rem; // -> 28px
                font-family: $font-kaushan;
            }
        }
    }
}