*,
*::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: black;
}
.d-none{
    display: none;
}
.section{
    // height: 100vh;
    display: flex;
    flex-wrap: wrap;
    &__left{
        width: 15%;
        padding: 2rem;
        // border: 2px solid burlywood;
        &__logo{
            color: white;
            font-size: 3rem;
        }
        &__menu{
            margin-top: 3rem;
            &--item{
                background-color: rgba(white,.2);
                font-size: 1.3rem;
                padding: .5rem 2rem;
                border-radius: .3rem;
                font-weight: 300;
                color: white;
                i{
                    margin-right: 1.5rem;
                }
            }
        }
    }
    &__right{
        width: 85%;
        padding: 2rem;
        &__top{
            input{
                border-radius: 30px;
                padding: 1rem 2rem;
                border: none;
                width: 30%;
                outline: 0;
            }
            button{
                background-color: #1abc9c;
                border: none;
                color: white;
                border-radius: 30px;
                padding: 1rem 2rem;
                margin-left: 1rem;
                cursor: pointer;
                &:hover{
                    background-color: #16a085;
                    transition: all .3s;
                }
            }
        }
        &__contenido{
            padding: 3rem 0;
            &--noResult,
            &--indicaciones{
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-size: 3rem;
                padding: 3rem 0;
            }
            &__resultado{
                &__top{
                    color: white;
                    &--titulo{
                        font-size: 3.4rem;
                        text-transform: uppercase;
                    }
                    span{
                        font-size: 1.6rem;
                    }
                }
                &__discografia{
                    padding: 1rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &__item{
                        width: calc(25% - 1.5rem);
                        background-color: rgba(white,.15);
                        padding: 1rem 1.5rem;
                        margin-bottom: 2rem;
                        border-radius: 5px;
                        &--titulo{
                            color: white;
                            font-weight: 300;
                            font-size: 1.6rem;
                            margin-bottom: 1rem;
                        }
                        &__left{
                            border-radius: 3px;
                            img{
                                display: block;
                                width: 100%;
                            }
                            &__info{
                                font-size: 1.3rem;
                                font-weight: 300;
                                margin-top: 1rem;
                                p{
                                    color: white;
                                    span{
                                        color: rgba(white, .7);
                                    }
                                }
                            }
                        }
                    }
                }
                &__pagination{
                    display: flex;
                    justify-content: space-around;
                    &__btn{
                        border: none;
                        background-color: #1abc9c;
                        color: white;
                        font-size: 1.6rem;
                        font-weight: 300;
                        padding: 1rem;
                        border-radius: 1rem;
                        cursor: pointer;
                    }
                    .btn--prev{
                        i{
                            margin-right: .5rem;
                        }
                    }
                    .btn--next{
                        i{
                            margin-left: .5rem;
                        }
                    }
                }
            }
        }
    }
}